* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {

  margin-left: auto;
  margin-right: auto;
}

.container.one {
  background-color: #f9f9f9;
}

.container.three {
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

img {
  height: 150px;
}

.content {
  /* background-color: #f0efc7; */
  text-align: center;
  margin-top: 10px;
}

#why.content img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media all and (max-width: 767px){

  .container.one {
    background-color: #f0efc7;
  }

 .container.three {
   background-color: #f0efc7;
 }

}
